# 01. Import Libraries

In [1]:
# Import libraries

import pandas as pd
import numpy as np
import os

# 02. Import Data

In [2]:
path = r'/Users/julianhempe/Documents/CareerFoundry/Data Immersion/4_Python Fundamentals for Data Analysts/17-04-2021 Instacart Basket Analysis/'

In [11]:
# Import Data Set orders_products_combined
df_orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

# Direction 4

In [12]:
# Check the shape of the imported dataframe
df_orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,11.11484,196,1,0,both
1,2539329,1,prior,1,2,8,11.11484,14084,2,0,both
2,2539329,1,prior,1,2,8,11.11484,12427,3,0,both
3,2539329,1,prior,1,2,8,11.11484,26088,4,0,both
4,2539329,1,prior,1,2,8,11.11484,26405,5,0,both

In [15]:
df_orders_products_combined.shape

(32434489, 11)

# Direction 5

In [16]:
# Import Data Set products_cleaned.csv
df_products_cleaned = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_cleaned.csv'), index_col = False)

In [17]:
df_products_cleaned.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [18]:
df_products_cleaned.shape

(49672, 6)

In [19]:
# remove unnecessary column
df_products_cleaned = df_products_cleaned.drop(columns=['Unnamed: 0'])

In [20]:
df_products_cleaned.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [27]:
df_orders_products_combined_1 = df_orders_products_combined.drop(columns = ['_merge'])

In [28]:
# merge both data sets
df_orders_products_merged = df_orders_products_combined_1.merge(df_products_cleaned, on = 'product_id', indicator = True)

In [29]:
df_orders_products_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,11.11484,196,1,0,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.00000,196,1,1,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.00000,196,1,1,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.00000,196,1,1,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.00000,196,1,1,Soda,77,7,9.0,both

# Direction 6

In [31]:
# Confirm the results of the merge using the merge flag
df_orders_products_merged['_merge'].value_counts()

both          32404859
right_only           0
left_only            0
Name: _merge, dtype: int64

# Direction 7

In [32]:
# Export data to pkl

df_orders_products_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'df_orders_products_merged.pkl'))